.test {
   box-sizing:border-box;
   color:rgb(37, 37, 37);
   display:block;
   font-family:Lato, sans-serif;
   font-size:16px;
   font-style:normal;
   font-weight:normal;
   height:0px;
   line-height:24px;
   margin-bottom:0px;
   margin-left:121.578px;
   margin-right:121.594px;
   margin-top:0px;
   max-width:50%;
   padding-bottom:0px;
   padding-left:0px;
   padding-right:0px;
   padding-top:0px;
   position:relative;
   text-align:center;
   width:243.172px;
   -webkit-font-smoothing:antialiased;
}