<div class="row" id="footer">
   <div class="small-12 medium-8 columns">

      <ul class="footer-links">
         <li><a href="#">Link 1</a></li>
         <li><a href="#">Link 2</a></li>
         <li><a href="#">Link 3</a></li>
         <li><a href="#">Link 4</a></li>
         <li><a href="#">Link 5</a></li>
         <li><a href="#">Link 6</a></li>
      </ul>
   </div>
   <div class="small-8 small-centered medium-4 columns">
      <div class="social">
         <a href="#" aria-label="Like us on Facebook">
            <span class="fa-brands fa-facebook"></span>
         </a>
         <a href="#" aria-label="Follow us on Twitter">
            <span class="fa-brands fa-twitter"></span>
         </a>
         <a href="#" aria-label="Connect with us on Linkedin">
            <span class="fa-brands fa-linkedin"></span>
         </a>
         <a href="#" aria-label="Follow us on Instagram">
            <span class="fa-brands fa-instagram"></span>
         </a>
      </div>
   </div>
</div>

<div class="row">
   <div class="colophon">
      <span>&copy; Copyright 2023 [Company Name]</span>
      <span> | Vendor Name Here | Additional Information Here</span>
   </div>
</div>