<div class="row">
   <div class="small-12 columns">
      <img src="img/your-logo-big.png" alt="logo placeholder">
      <div class="cta-container">
         <div class="small-12 columns">
            <div class="call-to-action">
               <p>
                  <span>Call To Action!</span><br />
                  <span>Here is some more descriptive text</span><br />
                  <a role="button" class="button cta" href="index.html" aria-label="Place appropriate label here">Do it Now!</a>
               </p>
            </div>
         </div>
      </div>
   </div>
</div>