<div id="showNav">
   <button id="menuControl" class="hamburger hamburger--slider" type="button">
      <span class="hamburger-box">
         <span class="hamburger-inner"></span>
         <span id="menuControlText">&nbsp;Show Navigation</span>
      </span>
   </button>
</div>
<div id="logo-nav"><img src="img/150x35.png" alt="logo description"></div>
<ul data-nav>
   <li class="top-level"><a href="index.html" tabindex="0">Home</a></li>
   <li class="top-level"><a href="accordions.html" tabindex="0">Accordions</a></li>
   <li class="top-level" data-dropdown><a href="buttons.html" tabindex="0">Buttons</a>
      <ul class="dropdown">
         <li><a class="sub_link" href="#" tabindex="0">Link 3a</a></li>
         <li><a class="sub_link" href="#" tabindex="0">Link 3b longer</a></li>
         <li><a class="sub_link" href="#" tabindex="0">Link 3c longest text</a></li>
      </ul>
   </li>
   <li class="top-level"><a href="tabs.html" tabindex="0">Tabs</a></li>
   <li class="top-level"><a href="block-grid.html" tabindex="0">Block Grid</a>
</ul>