<!doctype html>

<html class="no-js" lang="en">

<head>
   ${require('_head.html')}
   <title>Static Site :: Block Grid</title>
   <meta name="description" content="{Your Description}" />
   <!-- Social Media Tags -->
   <meta property="og:site_name" content="{Your Site Name}">
   <meta property="og:description" content="{Your Description}">
   <meta property="og:title" content="{The title, headline or name of the page}">
   <meta property="og:type" content="website" />
   <meta property="og:description" content="{A one to two sentence description of your page}">
   <meta property="og:image" content="{An image URL which should represent your page}">
   <meta property="og:url" content="{The canonical URL of your page}">
   <meta name="twitter:card" content="summary_large_image">
   <meta name="twitter:image:alt" content="{Alt text for image}">
   <!-- Analytics Tags -->
   <meta property="fb:app_id" content="{your_app_id}" />
   <meta name="twitter:site" content="{@website-username}">
   <!-- Domain Verification Tags -->
   <meta name="google-site-verification" content="{...}">
</head>

<body>

   ${require('_skipNav.html')}

   <!-- * To move navigation to top of page, uncomment the nav element below and comment out the nav element below the header element [[ Update settings.scss -> $navigation-position == "sticky" ]]
    *- - - - - - - - - - - - - - - - - - - - - - - - -
    *-->


   <nav role="navigation" data-nav-align-top>
      ${require('_navigation.html')}
   </nav>


   <header role="banner">
      ${require('_header.html')}
   </header>

   <!-- * To move navigation under header, uncomment the nav element below and comment out the nav element above the header element [[ Update settings.scss -> $navigation-position == "default" ]]
  * - - - - - - - - - - - - - - - - - - - - - - - - -
    *-->
   <!--
       <nav role="navigation" data-sticky>
          [add require statement here]
       </nav>
    -->

   <main id="main">
      <section>
         <div class="row">
            <div class="block-grid" data-small-grid="1" data-medium-grid="2" data-large-grid="3">
               <div class="block-element">
                  <img src="https://picsum.photos/500/500" alt="" class="block-image">
                  <div class="block-content">
                     <div class="block-heading">Block Heading</div>
                     <div class="block-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                        fringilla
                        egestas vulputate. Sed ullamcorper rutrum
                        mattis. Nam lacinia urna ut metus tincidunt finibus. Vestibulum ligula augue, condimentum vitae
                        lacinia quis, maximus
                        nec metus. Nunc condimentum ipsum rutrum est finibus imperdiet. Curabitur nunc mauris,
                        condimentum
                        vitae ultrices vel,
                        lacinia vel ex. Fusce tortor sapien, tempus nec velit ut, accumsan vulputate diam.</div>
                  </div>
               </div>
               <div class="block-element">
                  <img src="https://picsum.photos/500/500" alt="" class="block-image">
                  <div class="block-content">
                     <div class="block-heading">Block Heading</div>
                     <div class="block-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                        fringilla
                        egestas vulputate. Sed ullamcorper rutrum
                        mattis. Nam lacinia urna ut metus tincidunt finibus. Vestibulum ligula augue, condimentum vitae
                        lacinia quis, maximus
                        nec metus. Nunc condimentum ipsum rutrum est finibus imperdiet. Curabitur nunc mauris,
                        condimentum
                        vitae ultrices vel,
                        lacinia vel ex. Fusce tortor sapien, tempus nec velit ut, accumsan vulputate diam.</div>
                  </div>
               </div>
               <div class="block-element">
                  <img src="https://picsum.photos/500/500" alt="" class="block-image">
                  <div class="block-content">
                     <div class="block-heading">Block Heading</div>
                     <div class="block-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                        fringilla
                        egestas vulputate. Sed ullamcorper rutrum
                        mattis. Nam lacinia urna ut metus tincidunt finibus. Vestibulum ligula augue, condimentum vitae
                        lacinia quis, maximus
                        nec metus. Nunc condimentum ipsum rutrum est finibus imperdiet. Curabitur nunc mauris,
                        condimentum
                        vitae ultrices vel,
                        lacinia vel ex. Fusce tortor sapien, tempus nec velit ut, accumsan vulputate diam.</div>
                  </div>
               </div>
               <div class="block-element">
                  <img src="https://picsum.photos/500/500" alt="" class="block-image">
                  <div class="block-content">
                     <div class="block-heading">Block Heading</div>
                     <div class="block-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                        fringilla
                        egestas vulputate. Sed ullamcorper rutrum
                        mattis. Nam lacinia urna ut metus tincidunt finibus. Vestibulum ligula augue, condimentum vitae
                        lacinia quis, maximus
                        nec metus. Nunc condimentum ipsum rutrum est finibus imperdiet. Curabitur nunc mauris,
                        condimentum
                        vitae ultrices vel,
                        lacinia vel ex. Fusce tortor sapien, tempus nec velit ut, accumsan vulputate diam.</div>
                  </div>
               </div>
               <div class="block-element">
                  <img src="https://picsum.photos/500/500" alt="" class="block-image">
                  <div class="block-content">
                     <div class="block-heading">Block Heading</div>
                     <div class="block-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                        fringilla
                        egestas vulputate. Sed ullamcorper rutrum
                        mattis. Nam lacinia urna ut metus tincidunt finibus. Vestibulum ligula augue, condimentum vitae
                        lacinia quis, maximus
                        nec metus. Nunc condimentum ipsum rutrum est finibus imperdiet. Curabitur nunc mauris,
                        condimentum
                        vitae ultrices vel,
                        lacinia vel ex. Fusce tortor sapien, tempus nec velit ut, accumsan vulputate diam.</div>
                  </div>
               </div>
               <div class="block-element">
                  <img src="https://picsum.photos/500/500" alt="" class="block-image">
                  <div class="block-content">
                     <div class="block-heading">Block Heading</div>
                     <div class="block-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                        fringilla
                        egestas vulputate. Sed ullamcorper rutrum
                        mattis. Nam lacinia urna ut metus tincidunt finibus. Vestibulum ligula augue, condimentum vitae
                        lacinia quis, maximus
                        nec metus. Nunc condimentum ipsum rutrum est finibus imperdiet. Curabitur nunc mauris,
                        condimentum
                        vitae ultrices vel,
                        lacinia vel ex. Fusce tortor sapien, tempus nec velit ut, accumsan vulputate diam.</div>
                  </div>
               </div>
               <div class="block-element">
                  <img src="https://picsum.photos/500/500" alt="" class="block-image">
                  <div class="block-content">
                     <div class="block-heading">Block Heading</div>
                     <div class="block-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                        fringilla
                        egestas vulputate. Sed ullamcorper rutrum
                        mattis. Nam lacinia urna ut metus tincidunt finibus. Vestibulum ligula augue, condimentum vitae
                        lacinia quis, maximus
                        nec metus. Nunc condimentum ipsum rutrum est finibus imperdiet. Curabitur nunc mauris,
                        condimentum
                        vitae ultrices vel,
                        lacinia vel ex. Fusce tortor sapien, tempus nec velit ut, accumsan vulputate diam.</div>
                  </div>
               </div>
               <div class="block-element">
                  <img src="https://picsum.photos/500/500" alt="" class="block-image">
                  <div class="block-content">
                     <div class="block-heading">Block Heading</div>
                     <div class="block-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                        fringilla
                        egestas vulputate. Sed ullamcorper rutrum
                        mattis. Nam lacinia urna ut metus tincidunt finibus. Vestibulum ligula augue, condimentum vitae
                        lacinia quis, maximus
                        nec metus. Nunc condimentum ipsum rutrum est finibus imperdiet. Curabitur nunc mauris,
                        condimentum
                        vitae ultrices vel,
                        lacinia vel ex. Fusce tortor sapien, tempus nec velit ut, accumsan vulputate diam.</div>
                  </div>
               </div>
               <div class="block-element">
                  <img src="https://picsum.photos/500/500" alt="" class="block-image">
                  <div class="block-content">
                     <div class="block-heading">Block Heading</div>
                     <div class="block-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                        fringilla
                        egestas vulputate. Sed ullamcorper rutrum
                        mattis. Nam lacinia urna ut metus tincidunt finibus. Vestibulum ligula augue, condimentum vitae
                        lacinia quis, maximus
                        nec metus. Nunc condimentum ipsum rutrum est finibus imperdiet. Curabitur nunc mauris,
                        condimentum
                        vitae ultrices vel,
                        lacinia vel ex. Fusce tortor sapien, tempus nec velit ut, accumsan vulputate diam.</div>
                  </div>
               </div>

            </div>
         </div>

      </section>
   </main>

   <footer>
      ${require('_footer.html')}
   </footer>

   <!-- Scripts -->
   <script src="js/scripts.js"></script>

</body>

</html>