<!doctype html>

<html class="no-js" lang="en">

<head>
   <title>Static Site :: Home</title>
   <meta name="description" content="Your Description" />
   ${require('_head.html')}
</head>

<body>

   ${require('_skipNav.html')}

   <!-- // To move navigation to top of page, uncomment the nav element below and comment out the nav element below the header element [[ Update settings.scss -> $navigation-position == "sticky" ]]
// - - - - - - - - - - - - - - - - - - - - - - - - -
-->


   <nav role="navigation" data-nav-align-top>
      ${require('_navigation.html')}
   </nav>


   <header role="banner">
      ${require('_header.html')}
   </header>

   <!-- // To move navigation under header, uncomment the nav element below and comment out the nav element above the header element [[ Update settings.scss -> $navigation-position == "default" ]]
// - - - - - - - - - - - - - - - - - - - - - - - - -
-->

   <!--
   <nav role="navigation" data-sticky>
      [add require statement here]
   </nav>
-->

   <main role="main" id="main">
      <section>
         <div class="row">
            <div class="small-12 columns">
               <h1>This is the Heading</h1>
               <p>Senserit ne aliquip, aliqua familiaritatem senserit illum aliquip ex expetendis
                  voluptatibus o nostrud te se quo fugiat malis legam ne iis fugiat magna illum
                  appellat, illum cupidatat officia do iis velit qui sint, elit e mentitum do
                  labore. Quis est te duis expetendis, occaecat te nescius ut e malis senserit si
                  senserit aut fugiat. Possumus enim eram an irure, id litteris exercitation,
                  excepteur o malis aut iudicem fugiat occaecat cernantur aut multos expetendis si
                  sunt malis, aliqua senserit et expetendis et eram eiusmod mentitum eu id
                  offendit ne pariatur. Eu do fugiat occaecat de quae laborum a concursionibus ab
                  ubi officia efflorescere, esse incididunt hic singulis ne proident de lorem
                  eiusmod, ipsum mandaremus a exquisitaque id se ipsum senserit mandaremus quo
                  cupidatat labore singulis occaecat. De litteris sed laborum. Sint arbitror
                  pariatur nam consequat fugiat probant laboris. Magna cupidatat nescius hic sint
                  sed ullamco an magna si se aute cupidatat imitarentur, quid ingeniis pariatur.</p>
            </div>
         </div>
         <div class="row">
            <div class="small-12 medium-8 medium-push-4 columns">
               <p>Lorem aliquip consectetur, laborum de magna. Aute efflorescere senserit legam
                  doctrina sed id in philosophari se offendit quorum duis non nisi si quis eu
                  incurreret. Nostrud tamen aut senserit instituendarum nam ex pariatur
                  sempiternum. Eu amet exquisitaque, voluptate quid arbitror, o mentitum de
                  appellat.</p>
            </div>
            <div class="small-12 medium-4 medium-pull-8 columns">
               <a class="button tiny" href="index.html" role="button">Tiny Button</a><br />
               <a class="button" href="index.html" role="button">Button</a>&nbsp;&nbsp;&nbsp;
               <a class="button radius" href="index.html" role="button">Radius Button</a> <br />
               <a class="button hollow" href="index.html" role="button">Hollow Button</a>&nbsp;&nbsp;&nbsp;
               <a class="button cta" href="index.html" role="button">Call-To-Action Button</a><br />
               <a class="button large" href="index.html" role="button">Large Button</a><br />
            </div>
         </div>
         <div class="row">
            <div class="small-12 columns">
               <h2>This is the Heading</h2>
               <p>Senserit ne aliquip, aliqua familiaritatem senserit illum aliquip ex expetendis
                  voluptatibus o nostrud te se quo fugiat malis legam ne iis fugiat magna illum
                  appellat, illum cupidatat officia do iis velit qui sint, elit e mentitum do
                  labore. Quis est te duis expetendis, occaecat te nescius ut e malis senserit si
                  senserit aut fugiat. Possumus enim eram an irure, id litteris exercitation,
                  excepteur o malis aut iudicem fugiat occaecat cernantur aut multos expetendis si
                  sunt malis, aliqua senserit et expetendis et eram eiusmod mentitum eu id
                  offendit ne pariatur. Eu do fugiat occaecat de quae laborum a concursionibus ab
                  ubi officia efflorescere, esse incididunt hic singulis ne proident de lorem
                  eiusmod, ipsum mandaremus a exquisitaque id se ipsum senserit mandaremus quo
                  cupidatat labore singulis occaecat. De litteris sed laborum. Sint arbitror
                  pariatur nam consequat fugiat probant laboris. Magna cupidatat nescius hic sint
                  sed ullamco an magna si se aute cupidatat imitarentur, quid ingeniis pariatur.</p>
            </div>
         </div>
      </section>
   </main>

   <footer>
      ${require('_footer.html')}
   </footer>

   <!-- Scripts -->
   <script src="js/scripts.js"></script>

</body>

</html>
