<section>
   <div class="row">
      <div class="block-grid" data-small-grid="1" data-medium-grid="2" data-large-grid="3">
         <div class="block-element">
            <img src="https://picsum.photos/500/500" alt="" class="block-image">
            <div class="block-content">
               <div class="block-heading">Block Heading</div>
               <div class="block-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                  fringilla
                  egestas vulputate. Sed ullamcorper rutrum
                  mattis. Nam lacinia urna ut metus tincidunt finibus. Vestibulum ligula augue, condimentum vitae
                  lacinia quis, maximus
                  nec metus. Nunc condimentum ipsum rutrum est finibus imperdiet. Curabitur nunc mauris,
                  condimentum
                  vitae ultrices vel,
                  lacinia vel ex. Fusce tortor sapien, tempus nec velit ut, accumsan vulputate diam.</div>
            </div>
         </div>
         <div class="block-element">
            <img src="https://picsum.photos/500/500" alt="" class="block-image">
            <div class="block-content">
               <div class="block-heading">Block Heading</div>
               <div class="block-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                  fringilla
                  egestas vulputate. Sed ullamcorper rutrum
                  mattis. Nam lacinia urna ut metus tincidunt finibus. Vestibulum ligula augue, condimentum vitae
                  lacinia quis, maximus
                  nec metus. Nunc condimentum ipsum rutrum est finibus imperdiet. Curabitur nunc mauris,
                  condimentum
                  vitae ultrices vel,
                  lacinia vel ex. Fusce tortor sapien, tempus nec velit ut, accumsan vulputate diam.</div>
            </div>
         </div>
         <div class="block-element">
            <img src="https://picsum.photos/500/500" alt="" class="block-image">
            <div class="block-content">
               <div class="block-heading">Block Heading</div>
               <div class="block-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                  fringilla
                  egestas vulputate. Sed ullamcorper rutrum
                  mattis. Nam lacinia urna ut metus tincidunt finibus. Vestibulum ligula augue, condimentum vitae
                  lacinia quis, maximus
                  nec metus. Nunc condimentum ipsum rutrum est finibus imperdiet. Curabitur nunc mauris,
                  condimentum
                  vitae ultrices vel,
                  lacinia vel ex. Fusce tortor sapien, tempus nec velit ut, accumsan vulputate diam.</div>
            </div>
         </div>
         <div class="block-element">
            <img src="https://picsum.photos/500/500" alt="" class="block-image">
            <div class="block-content">
               <div class="block-heading">Block Heading</div>
               <div class="block-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                  fringilla
                  egestas vulputate. Sed ullamcorper rutrum
                  mattis. Nam lacinia urna ut metus tincidunt finibus. Vestibulum ligula augue, condimentum vitae
                  lacinia quis, maximus
                  nec metus. Nunc condimentum ipsum rutrum est finibus imperdiet. Curabitur nunc mauris,
                  condimentum
                  vitae ultrices vel,
                  lacinia vel ex. Fusce tortor sapien, tempus nec velit ut, accumsan vulputate diam.</div>
            </div>
         </div>
         <div class="block-element">
            <img src="https://picsum.photos/500/500" alt="" class="block-image">
            <div class="block-content">
               <div class="block-heading">Block Heading</div>
               <div class="block-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                  fringilla
                  egestas vulputate. Sed ullamcorper rutrum
                  mattis. Nam lacinia urna ut metus tincidunt finibus. Vestibulum ligula augue, condimentum vitae
                  lacinia quis, maximus
                  nec metus. Nunc condimentum ipsum rutrum est finibus imperdiet. Curabitur nunc mauris,
                  condimentum
                  vitae ultrices vel,
                  lacinia vel ex. Fusce tortor sapien, tempus nec velit ut, accumsan vulputate diam.</div>
            </div>
         </div>
         <div class="block-element">
            <img src="https://picsum.photos/500/500" alt="" class="block-image">
            <div class="block-content">
               <div class="block-heading">Block Heading</div>
               <div class="block-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                  fringilla
                  egestas vulputate. Sed ullamcorper rutrum
                  mattis. Nam lacinia urna ut metus tincidunt finibus. Vestibulum ligula augue, condimentum vitae
                  lacinia quis, maximus
                  nec metus. Nunc condimentum ipsum rutrum est finibus imperdiet. Curabitur nunc mauris,
                  condimentum
                  vitae ultrices vel,
                  lacinia vel ex. Fusce tortor sapien, tempus nec velit ut, accumsan vulputate diam.</div>
            </div>
         </div>
         <div class="block-element">
            <img src="https://picsum.photos/500/500" alt="" class="block-image">
            <div class="block-content">
               <div class="block-heading">Block Heading</div>
               <div class="block-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                  fringilla
                  egestas vulputate. Sed ullamcorper rutrum
                  mattis. Nam lacinia urna ut metus tincidunt finibus. Vestibulum ligula augue, condimentum vitae
                  lacinia quis, maximus
                  nec metus. Nunc condimentum ipsum rutrum est finibus imperdiet. Curabitur nunc mauris,
                  condimentum
                  vitae ultrices vel,
                  lacinia vel ex. Fusce tortor sapien, tempus nec velit ut, accumsan vulputate diam.</div>
            </div>
         </div>
         <div class="block-element">
            <img src="https://picsum.photos/500/500" alt="" class="block-image">
            <div class="block-content">
               <div class="block-heading">Block Heading</div>
               <div class="block-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                  fringilla
                  egestas vulputate. Sed ullamcorper rutrum
                  mattis. Nam lacinia urna ut metus tincidunt finibus. Vestibulum ligula augue, condimentum vitae
                  lacinia quis, maximus
                  nec metus. Nunc condimentum ipsum rutrum est finibus imperdiet. Curabitur nunc mauris,
                  condimentum
                  vitae ultrices vel,
                  lacinia vel ex. Fusce tortor sapien, tempus nec velit ut, accumsan vulputate diam.</div>
            </div>
         </div>
         <div class="block-element">
            <img src="https://picsum.photos/500/500" alt="" class="block-image">
            <div class="block-content">
               <div class="block-heading">Block Heading</div>
               <div class="block-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                  fringilla
                  egestas vulputate. Sed ullamcorper rutrum
                  mattis. Nam lacinia urna ut metus tincidunt finibus. Vestibulum ligula augue, condimentum vitae
                  lacinia quis, maximus
                  nec metus. Nunc condimentum ipsum rutrum est finibus imperdiet. Curabitur nunc mauris,
                  condimentum
                  vitae ultrices vel,
                  lacinia vel ex. Fusce tortor sapien, tempus nec velit ut, accumsan vulputate diam.</div>
            </div>
         </div>

      </div>
   </div>

</section>