<section id="code-block">
   <div class="row">
      <div class="small-12 columns">
         <article class="code-block">
            <h1>HTML</h1>
            <button id="openDialog" class="button icon-only-button code-copy" data-copy="data-code-1"><svg
                  xmlns="http://www.w3.org/2000/svg" height="1rem" viewBox="0 0 384 512">
                  <path
                     d="M192 32c-22.3 0-41.2 15.3-46.5 36l-3.1 12H130 96v48h96 96V80H254 241.6l-3.1-12c-5.3-20.7-24.1-36-46.5-36zM118.7 48C131 19.8 159.2 0 192 0s61 19.8 73.3 48H304h16V64 80h32 32v32V480v32H352 32 0V480 112 80H32 64V64 48H80h38.7zM320 160H304 192 80 64V144 112H32V480H352V112H320v32 16zM192 64a16 16 0 1 1 0 32 16 16 0 1 1 0-32z" />
               </svg><span class="sr-only">Copy</span></button>
            <dialog id="dialogOne" data-dialog>Copied!<button id="closeDialog" class="sr-only"
                  data-dialog-close>Close</button></dialog>
            <!-- Code Block -->
            <pre id="data-code-1" class="code-example"><code class="language-html line-numbers match-braces">&lt;section id="counter"&gt;
   &lt;div class="row"&gt;
      &lt;div class="counter-container"&gt;
         &lt;span class="fab fa-instagram fa-3x"&gt;&lt;/span&gt;
         &lt;div class="counter" data-target="12000"&gt;&lt;/div&gt;
         &lt;span&gt;Instagram Followers&lt;/span&gt;
      &lt;/div&gt;
      &lt;div class="counter-container"&gt;
         &lt;span class="fab fa-youtube fa-3x"&gt;&lt;/span&gt;
         &lt;div class="counter" data-target="5000"&gt;&lt;/div&gt;
         &lt;span&gt;YouTube Subscribers&lt;/span&gt;
      &lt;/div&gt;
      &lt;div class="counter-container"&gt;
         &lt;span class="fab fa-facebook fa-3x"&gt;&lt;/span&gt;
         &lt;div class="counter" data-target="7500"&gt;&lt;/div&gt;
         &lt;span&gt;Facebook Fans&lt;/span&gt;
      &lt;/div&gt;
   &lt;/div&gt;
&lt;/section&gt;</code></pre>
         </article>
      </div>
   </div>
</section>