/*! 
* 
* Header-Alt Styles
* 
*/

$header-layout: "classic" !default; // options: none; classic; masthead
$header-style: "traditional" !default; // options: traditional; split;
$header-bg-color: $white !default;

$call-to-action-active: "yes" !default; // options: yes; no
$call-to-action-Halign: "left" !default; // options: left; center; right
$call-to-action-Valign: "middle" !default; // options: top; middle; bottom

// used with header-type = masthead
$banner-small: "#{$image-path}/1300x650.png" !default; // path to banner
$banner-medium: "#{$image-path}/1300x650.png" !default;
$banner-large: "#{$image-path}/1300x650.png" !default;
$banner-xlarge: "#{$image-path}/header_xl.jpg" !default;
$banner-xxlarge: "#{$image-path}/header_xxl.jpg" !default;


[role=banner] {

   @if $navigation-position=="sticky" {
      //      @include margin-top(4.526);
      //
      //      @include breakpoint(medium) {
      //         @include margin-top(5);
      //      }
      //
      //      @include breakpoint(large) {
      //         @include margin-top(0);
      //      }
   }
}

@if $header-layout=="none" {
   #header {
      display: none;
   }
}

@else if $header-layout=="classic" {
   #header {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
   }
}

//TODO :: create mixin/function for this
@else if $header-layout=="masthead" {
   #header {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(6, 4rem);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      background: white url(#{$banner-small}) no-repeat center center;
      background-size: cover;
      @include padding();

      @include breakpoint(medium) {

         grid-template-rows: repeat(6, 4rem);

         @if ($header-style=="split") and ($call-to-action-active=="yes") {
            grid-template-rows: repeat(6, 1fr);
         }
      }

      @include breakpoint(large) {
         grid-template-rows: repeat(6, 1fr);
      }
   }

   .call-to-action {
      @include padding();
      background: pink; // debug
      grid-area: 4 / 1 / 7 / 7;

      // Position Call-to-Action
      @include breakpoint(medium) {
         @if ($header-style=="traditional") and ($call-to-action-active=="yes") {
            @if $call-to-action-Halign=="left" {
               @if $call-to-action-Valign=="top" {
                  grid-area: 1 / 1 / 4 / 4;
               }

               @else if $call-to-action-Valign=="middle" {

                  grid-area: 3 / 1 / 6 / 4;

               }

               @else if $call-to-action-Valign=="bottom" {

                  grid-area: 4 / 1 / 7 / 4;

               }
            }

            @if $call-to-action-Halign=="center" {
               @if $call-to-action-Valign=="top" {

                  grid-area: 1 / 2 / 4 / 5;

               }

               @else if $call-to-action-Valign=="middle" {

                  grid-area: 2 / 2 / 6 / 6;

               }

               @else if $call-to-action-Valign=="bottom" {

                  grid-area: 4 / 3 / 7 / 6;

               }
            }

            @if $call-to-action-Halign=="right" {
               @if $call-to-action-Valign=="top" {

                  grid-area: 1 / 4 / 4 / 7;

               }

               @else if $call-to-action-Valign=="middle" {

                  grid-area: 2 / 4 / 6 / 7;

               }

               @else if $call-to-action-Valign=="bottom" {

                  grid-area: 4 / 4 / 7 / 7;

               }
            }
         }

         @else if ($header-style=="split") and ($call-to-action-active=="yes") {
            grid-area: 1 / 4 / 7 / 7;
         }
      }

      @include breakpoint(large) {
         @if ($header-style=="traditional") and ($call-to-action-active=="yes") {
            @if $call-to-action-Halign=="left" {
               @if $call-to-action-Valign=="top" {
                  grid-area: 1 / 1 / 3 / 3;
               }

               @else if $call-to-action-Valign=="middle" {

                  grid-area: 3 / 1 / 5 / 3;

               }

               @else if $call-to-action-Valign=="bottom" {

                  grid-area: 5 / 1 / 7 / 3;

               }
            }

            @if $call-to-action-Halign=="center" {
               @if $call-to-action-Valign=="top" {

                  grid-area: 1 / 3 / 3 / 5;

               }

               @else if $call-to-action-Valign=="middle" {

                  grid-area: 3 / 3 / 5 / 5;

               }

               @else if $call-to-action-Valign=="bottom" {

                  grid-area: 5 / 3 / 7 / 5;

               }
            }

            @if $call-to-action-Halign=="right" {
               @if $call-to-action-Valign=="top" {

                  grid-area: 1 / 5 / 3 / 7;

               }

               @else if $call-to-action-Valign=="middle" {

                  grid-area: 3 / 5 / 5 / 7;

               }

               @else if $call-to-action-Valign=="bottom" {

                  grid-area: 5 / 5 / 7 / 7;

               }
            }
         }

      }
   }
}

[data-header-classic] {
   display: none;
}
