/*!
* 
* Layout Styles
* 
*/

// - - - - - - - - - - - - - - - - - - - -

* {
   box-sizing: border-box;
   @include padding(0);
   @include margin(0);
}

html {
   font-size: $font-base;
}

body {
   position: relative;

   @include breakpoint(medium) {
      margin-top: 0;
   }

   background: white;
   color: $oil;

   font: {
      family: $font-family-body;
      weight: $font-regular;
      style: normal;
      size: 1rem;
   }

   line-height: $line-height;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

hr {
   max-width: $global-width + px;
   margin: rem($global-margin) auto;
   box-shadow: 0 1px $light-grey;
}

section {
   @include padding(2 * $global-padding);
}

img {
   display: inline-block;
   vertical-align: middle;
   max-width: 100%;
}

.sticky {
   position: fixed !important;
   z-index: 1000 !important;
}
