/*!
* 
* Modal Styles
* 
*/

// - - - - - - - - - - - - - - - - - - - -

dialog {
   margin: auto;
   @include padding();
}

[data-modal] {
   &::backdrop {
      background: rgba(0, 0, 0, 0.7);
   }
}

button[data-close-modal],
button[data-close-dialog] {
   background: $warn;
   color: $white;
   @include padding();
   &:hover {
      background: transparentize($warn, 0.3);
   }
}
