/*!
* 
* Modal Styles
* 
*/

// - - - - - - - - - - - - - - - - - - - -

dialog {
   margin: auto;
   @include padding();
}

[data-modal] {
   &::backdrop {
      background: rgba(0, 0, 0, 0.7);
   }
}

button[data-modal-close] {
   background: $warn;
   color: $white;
   @include padding();
   &:hover {
      background: transparentize($warn, 0.3);
   }
}
//  Hide from Screen
// - - - - - - - - - - - - - - - - - - - -
.sr-only {
   position: absolute;
   left: -10000px;
   top: auto;
   width: 1px;
   height: 1px;
   overflow: hidden;
}
