/*!
* 
* Rows
* 
*/

.row {
   @include clearfix();
   max-width: em($global-width);
   margin: {
      top: 0;
      right: auto;
      bottom: 0;
      left: auto;
   }
   // Prevent double padding for nested rows
   .row {
      @include clearfix();
      width: auto;
      margin: {
         top: 0;
         right: -($global-padding) + em;
         bottom: 0;
         left: -($global-padding) + em;
      }
   }
}