/*! 
* 
* Breakpoints
* 
* */


$breakpoints: (
                                          small,
                                          medium,
                                          large,
//                                          xlarge,
//                                          xxlarge
);

$medium-bp:					              768 						!default;
$large-bp:					              1100 						!default;
$xlarge-bp:								  1400 						!default;
$xxlarge-bp:                              1600                      !default;

$screen:								"only screen" 			    !default;


@mixin breakpoint($width: small) {

	@if $width == small {
       @media #{$screen} {
			@content
				}
	}

	@if $width == medium {
       @media #{$screen}  and (min-width: $medium-bp + px) {
			@content
               }
	}

   @if $width == large {
      @media #{$screen}  and (min-width: $large-bp + px) {
         @content
            }
   }

   @if $width == xlarge {
      @media #{$screen}  and (min-width: $xlarge-bp + px) {
         @content
            }
   }

   @if $width == xxlarge {
      @media #{$screen}  and (min-width: $xxlarge-bp + px) {
         @content
            }
}

}