/*! Test NOVA Framework
* 
* Authored by James Murphy
* 
* Buttons
* 
*/

$button-bg-color-primary:                       $color-primary          !default;
$button-bg-color-secondary:                     $color-secondary        !default;

$button-color-primary:                          $white                  !default;
$button-color-secondary:                        $oil                    !default;

$button-radius:                                 $font-base              !default;

button {
   border: none;
}

#showNav {
   background: $button-color-secondary;
   color: $color-secondary;
}

.button {
   color: $button-color-primary;
   padding: em(7) em(21);
   border: none;
   background: $button-bg-color-primary;
   color: $button-color-primary;
   @include margin();
   @include margin-top(0);
   text-decoration: none;
   font: {
      family: $font-family-buttons;
      weight: normal;
   }
   &.tiny {
      @include padding(2px);
      font-size: em(16);
   }
   &.large {
      padding: rem(10.72) rem(21.44);
      font-size: em(23.04);
   }
   // rounded buttons
   &.radius {
      border-radius: em($button-radius);
   }
   // outlined buttons
   &.hollow {
      background: none;
      color: $button-bg-color-primary;
      border: 3px solid $button-bg-color-primary;
      &:hover,
      &:focus {
         background: none;
         color: $button-bg-color-primary;
         opacity: 0.6;
      }
   }
   &:hover,
   &:focus {
      background: transparentize($button-bg-color-primary, 0.3);
      color: $button-color-secondary;
   }
   display: inline-block;
   // call-to-action buttons
   &.cta {
      background: $color-primary;
      color: $button-color-primary;
      transition: all 100ms ease-in-out;
      &:hover {
         background: $color-secondary;
         color: $button-color-secondary;
      }
   }
   &.raised {
      border-bottom: 5px solid darken($button-bg-color-primary, 30%);
   }
   &.disabled {
      pointer-events: none;
      background: transparentize($button-bg-color-primary, 0.8);
   }
}

.button-group {
   display: block;
   & .button:link {
      @include margin-left(0);
      @include margin-right(0);
      &:not(:last-of-type) {
         border-right: 1px solid $silver;
      }
   }
   &.rounded {
      & .button {
         &:first-of-type {
            border-top-left-radius: $button-radius;
            border-bottom-left-radius: $button-radius;
         }
         &:last-of-type {
            border-top-right-radius: $button-radius;
            border-bottom-right-radius: $button-radius;
         }
      }
   }
}