/*! 
* 
* Footer Styles
* 
*/

// - - - - - - - - - - - - - - - - - - - -

footer {
   background: $oil;
   color: $color-secondary;
   @include padding();
   & a {
      color: $color-secondary;
      text: {
         decoration: none;
      }
      &:hover,
      &:focus {
         filter: saturate(0);
         text: {
            decoration: underline;
         }
      }
   }
   & .footer-links {
      list-style: none;
      @include padding();
      @include margin(0);
      column-count: 2;
      text-align: center;
      @include breakpoint(medium) {
         list-style: none;
         text-align: left;
      }
      & li {
         @include padding();
      }
   }
   & .colophon {
      font-size: 80%;
      @include padding(1);
      text: {
         align: center;
      }
      & span:nth-child(2) {
         color: white;
         display: block;
         @include breakpoint(medium) {
            display: inline-block;
         }
      }
   }
   & .social {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: center;
      align-content: center;
      & .social-icon {
         flex: 0 1 auto;
         & > a:focus > img {
            filter: saturate(0);
         }
         & > a > img {
            width: 3rem;
            height: 3rem;
            &:hover{
               filter: saturate(0);
            }
         }
      }
   }
}
