/*! Test NOVA Framework
* 
* Authored by James Murphy
* 
* Default Layout Styles
* 
*/


// Default Body Styles
// - - - - - - - - - - - - - - - - - - - -

html {
   font-size: $font-base;
}

body {
   position: relative;
   background: white;
   color: $oil;
   font: {
      family: $font-family-body;
      weight: $font-regular;
      style: normal;
      size: 1rem;
   }
   line-height: $line-height;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

section {
   @include padding(2);
}