/*! Test NOVA Framework
* 
* Authored by James Murphy
* 
* Navigation
* 
*/

$navigation-align-map: (
   left: flex-start,
   center: center,
   right: flex-end
);

$navigation-align:                           'center'            !default;

$navigation-links-color:                     white              !default;

// Mobile Nav Button
.show-nav {
   @include padding-top();
   @include padding-bottom();
   background: $color-primary;
   position: fixed;
   top: 0;
   width: 100%;
   @include breakpoint(medium) {
      display: none;
   }
}

nav[role=navigation] {
   font: {
      family: $font-family-navigation;
      weight: $font-thin;
   }
   letter-spacing: 1px;
   position: fixed;
   width: 100%;
   top: 4.5rem;
   & ul {
      @include margin(0);
      @include padding(0);
      background: $oil;
      list-style: none;
      display: flex;
      position: relative;
      flex-flow: column nowrap;
      border-right: none;
      &#main-nav {
         left: -100vw;
         &.active {
            left: 0;
         }
      }
      & li {
         @include padding();
         &.top-level {
            border-bottom: 1px solid $light-grey;
         }
         & ul {
            & li {
               @include padding-left(3);
            }
         }
      }
      & a {
         color: $navigation-links-color;
         text: {
            decoration: none;
            transform: uppercase;
         }
         &:hover,
         &:focus {
            color: $navigation-links-color;
         }
      }
   }
   @include breakpoint(medium) {
      position: relative;
      top: 0;
      width: 100%;
      background: $oil;
      & ul {
         // Use Flexbox to align navigation items :D
         flex-flow: row nowrap;
         justify-content: nav-align($navigation-align);
         &#main-nav {
            left: 0;
         }
         & li {
            flex: 0 1 auto;
            text-align: left;
            @include padding();
            border-right: 1px solid $dark-grey;
            position: relative;
            &:last-of-type {
               border-right: none;
            }
            &.top-level {
               border-bottom: none;
            }
            & ul {
               & li {
                  @include padding-left();
               }
            }
            &.has-dropdown {
               & a:focus {
                  & ~ ul {
                     left: 0;
                  }
               }
            }
            &:hover a + ul {
               left: 0;
            }
         }
         & ul {
            list-style: none;
            position: absolute;
            top: 100%;
            left: -10000px;
            background: $oil;
            @include padding(0);
            width: 300%;
            text-align: left;
            display: block;
            &.active {
               left: 0;
            }
         }
         & a {
            color: $navigation-links-color;
            text-decoration: none;
            &:hover,
            &:focus {
               text-decoration: underline;
               color: darken($navigation-links-color, 20%);
            }
         }
      }

   }
}