/*! 
* 
* Navigation
* 
*/

// - - - - - - - - - - - - - - - - - - - -

$navigation-align-map: (
   left: flex-start,
   center: center,
   right: flex-end
);

$navigation-style:                           "chevron"            !default;
$navigation-align:                           "left"               !default;
$navigation-background-color:                $oil                 !default;
$navigation-links-color:                     $white                !default;

$navigation-sub-style:                       ""                   !default;

// Skip Nav
.skip-nav {
   left: -10000px;
   position: absolute;
   &:focus {   
      background: $color-secondary;
      left: 0;
      z-index: 1000;
      position: relative;
      padding: 1em;
      border: 2px solid #252525;
   }
}

// Mobile Nav Button
#show-nav {
   background: $navigation-background-color;
   @include padding();
   position: fixed;
   top: 0;
   width: 100%;
   font: {
      size: 1rem;
   }
   @include breakpoint(medium) {
      display: none;
   }
   & button[id=showNav] {
      @include margin-bottom(0);
   }
   & button > span {
      font-family: $font-family-buttons;
   }
}
nav[role=navigation] {
   background: $navigation-background-color;
   font: {
      family: $font-family-navigation;
      weight: $font-thin;
      size: 1.2em;
   }
   letter-spacing: 1px;
   position: fixed;
   width: 0;
   top: 5.2rem;
   z-index: 999;
   & ul {
      @include margin(0);
      @include padding(0);
      list-style: none;
      display: flex;
      position: relative;
      flex-flow: column nowrap;
      border-right: none;
      &[data-nav] {
         left: -100vw;
         @include max-width;
         margin: 0 auto;
      }
      &[data-nav=true] {
         left: 0;
      }
      & li {
         @include padding(1);
         line-height: 1.228;
         &.top-level {
            border-bottom: 1px solid $light-grey;
            @include padding-left(2);
         }
         & ul {
            & li {
               display: none;
               @include padding-left(3);
            }
         }
      }
      & a {
         color: $navigation-links-color;
         font: {
            family: $font-family-navigation;
            weight: $font-thin;
         }
         text: {
            decoration: none;
            transform: uppercase;
         }
         &:hover,
         &:focus {
            color: $navigation-links-color;
         }
      }
   }
   @include breakpoint(medium) {
      position: relative;
      top: 0;
      width: 100%;
      & ul {
         background: $navigation-background-color;
         // Use Flexbox to align navigation items :D
         flex-flow: row nowrap;
         justify-content: nav-align($navigation-align);
         &[data-nav] {
            left: 0;
         }
         & li {
            flex: 0 1 auto;
            text-align: left;
            @include padding();
            border-right: 1px solid $dark-grey;
            position: relative;
            &:last-of-type {
               border-right: none;
            }
            &.top-level {
               border-bottom: none;
               @include padding-left();
               &:hover {
                  // set underline for nav links
                  @if $navigation-style == "bar" {
                     &:before {
                        position: absolute;
                        content: "";
                        height: 5px;
                        width: 100%;
                        bottom: 0;
                        left: 0;
                        background-color: $color-secondary;
                     }
                  }
               }
            }
            & ul {
               & li {
                  display: block;
                  @include padding-left();
                  border-right: none;
               }
            }
            &[data-dropdown] {
               & > a:hover {
                  cursor: default;
               }
               & a:focus {
                  & + .dropdown {
                     left: 0;
                  }
               }
               @if $navigation-style == "chevron" {
                  &:before {
                     color: $color-secondary;
                     content: $icon-nav;
                     display: inline-block;
                     position: absolute;
                     top: 2.5em;
                     font-size: 0.625em;
                     left: calc(50% - 0.325em);
                  }
               } @else {
                  &:before {
                     content: "";
                  }
               }
            }
            &[data-dropdown=true] {
               & .dropdown {
                  left: 0;
               }
            }
            &:hover a + ul {
               left: 0;
            }
         }
         & ul {
            list-style: none;
            position: absolute;
            top: 100%;
            left: -10000px;
            background: $oil;
            @include padding(0);
            width: 300%;
            text-align: left;
            display: block;
            &.active {
               left: 0;
            }
            @if $navigation-sub-style == "inverted" {
               & li {
                  @include padding(0.5);
               }
               & li:not(:last-of-type) {
                  border-bottom: 1px solid $navigation-background-color;
               }
               background: $navigation-links-color;
               border-left: 1px solid $navigation-background-color;
               box-shadow: 3px 3px 5px $navigation-background-color;
               @include padding(0.5);
               font-size: $font-base;
               & a {
                  color: $navigation-background-color;
                  font-weight: $font-regular;
                  &:hover,
                  &:focus {
                     color: $blue;
                     text-decoration: underline;
                  }
               }
            }
         }
         & a {
            color: $navigation-links-color;
            text-decoration: none;
            &:hover,
            &:focus {
               color: darken($color-secondary, 20%);
            }
         }
      }

   }
   @include breakpoint(xlarge) {
      & #logo-nav {
         @if $show-logo-in-sticky-nav == "yes" {
            display: inline-block;
            @include margin-top(0.5);
            @include padding-left(2);
            position: absolute;
         } @else {
            display: none;
         }
      }
   }
}