/*! Test NOVA Framework
* 
* Authored by James Murphy
* 
* My first attempt at Sass and my first attempt at a Framework
* 
*/


// Breakpoints
// - - - - - - - - - - - - - - - - - - - -
//
// (Assume Mobile-First therefore no "small" breakpoint)

// $medium-bp:					           768;
// $large-bp:					           1100;
// $xlarge-bp:							   1400;
// $xxlarge-bp:                            1600;

// $screen:                                'only screen'

// Columns
// - - - - - - - - - - - - - - - - - - - -

$column-count:                            12;


// Global Gutters (re-name and re-organize)
//- - - - - - - - - - - - - - - - - - - -

$global-width:							  1000; // Unitless

$global-padding:						  0.8333; // Unitless
$global-margin:							  0.8333; // Unitless

$preferred-unit:                          rem;
$max-unitless-value:                      10; // Maximum relative untits for mixins (units greater than this are considered to be pixel based)


// Global Colors
// - - - - - - - - - - - - - - - - - - - -
// 
// (Will use "tranparentize($color, $opacity))

$green:                                   #0c6e40;
$gold:                         		      #ffca27;
$blue:                                    #1862B6;
$oil:                            	      #252525;
$dark-grey:                               #505050;
$light-grey:						      #e5e5e5;
$silver:                                  #f2f2f2;
$white:                                   #ffffff;

$color-primary:                           $green;
$color-secondary:                         $gold;
$color-links:                             $blue;


// Typography
// - - - - - - - - - - - - - - - - - - - -

$font-family-headings:                    "Lato", sans-serif;
$font-family-body:                        "Lato", sans-serif;
$font-family-buttons:                     "Archivo Narrow", sans-serif;
$font-family-navigation:                  "Oswald", sans-serif;

$font-base:                               16px;
$font-scale:                              1.2;
$line-height:                             1.5;

$font-margin:                             $global-padding;

$font-bold:							      600;
$font-regular:						      400;
$font-thin:							      200;


// Buttons
// - - - - - - - - - - - - - - - - - - - -

//$button-bg-color-primary:                 $color-primary;
//$button-bg-color-secondary:               $color-secondary;

//$button-color-primary:                    $white;
//$button-color-secondary:                  $oil;

//$button-radius:                           $font-base;


// Header
// - - - - - - - - - - - - - - - - - - - -

$header-style:                            "masthead"; // Default header style

$call-to-action-active:                   "no";
$call-to-action-align:                    "right";

// Navigation
// - - - - - - - - - - - - - - - - - - - -

$navigation-style:                        "chevron"; // options: chevron; bar
$navigation-align:                        "left"; // options: left; center; right
$navigation-background-color:             $oil; // Default color for navigation background
$navigation-links-color:                  $white;

// Icon Fonts
// - - - - - - - - - - - - - - - - - - - -
$icomoon-font-path: "fonts";
$icon-font-family: "icomoon";

$icon-plus-circle: "\f055";
$icon-minus-circle: "\f056";
$icon-plus: "\f067";
$icon-minus: "\f068";
$icon-nav: "\e900";
$icon-menu: "\e901";