/*! Test NOVA Framework
* 
* Authored by James Murphy
* 
* Tabs
* 
*/

.tabs {
   @include margin-top(1.728);
   position: relative;
   @include breakpoint(medium) {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: baseline;
   }
}

/* Tabs */
[data-tab] {
   background: $light-grey;
   color: $dark-grey;
   font: {
      family: $font-family-body !important;
      size: rem(19.2);
      weight: bold !important;
   }
   list-style: none;
   text-align: left;
   @include padding-top();
   @include padding-bottom();
   @include padding-left(2);
   @include margin-bottom(0.25);
   @include breakpoint(medium) {
      @include padding-left(0);
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      text-align: center;
      max-width: 25%;
      &:not(:first-of-type) {
         @include margin-left(0.25);
      }
      &.icon-plus:before,
      &.icon-minus:before {
         display: none;
      }
   }
   &:active {
      outline: none;
   }
   &:hover,
   &:focus {
      cursor: pointer;
   }
}
[data-tab=active] {
   font: {
      family: $font-family-body !important;
   }
   background: $oil;
   color: $silver;
}


/* Panels */
[data-panel] {
   @include padding();
   display: none;
   visibility: hidden;
   @include breakpoint(medium) {
      position: absolute;
      top: $font-base * 3.625;
   }
}
[data-panel=active] {
   background: white;
   visibility: visible;
   left: 0;
   display: block;
   z-index: 1000;
   width: 100%;
}