/*!
* 
* Tabs & Accordions
* 
*/

.tabs {
   @include margin-top(1.728);
   position: relative;
   @include breakpoint(medium) {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: baseline;
   }
   /* Tabs */
   & > [data-tab] {
      background: $light-grey;
      color: $dark-grey;
      font: {
         family: $font-family-body !important;
         size: em($font-base);
         weight: bold !important;
      }
      list-style: none;
      text-align: left;
      @include padding-top();
      @include padding-bottom();
      @include padding-left(2);
      @include margin-bottom(0.25);
      @include breakpoint(medium) {
         @include padding-left(0);
         -webkit-box-flex: 1;
         -webkit-flex-grow: 1;
         -ms-flex-positive: 1;
         flex-grow: 1;
         text-align: center;
//         max-width: 25%;
         &:not(:first-of-type) {
            @include margin-left(0.25);
         }
         &.icon-plus:before,
         &.icon-minus:before {
            display: none;
         }
      }
      &:active {
         outline: none;
      }
      &:hover,
      &:focus {
         cursor: pointer;
      }
   }
   & > [data-tab=active] {
      font: {
         family: $font-family-body !important;
      }
      background: $oil;
      color: $silver;
   }


   /* Panels */
   & > [data-panel] {
      @include padding();
      display: none;
      visibility: hidden;
      @include breakpoint(medium) {
         position: absolute;
         top: $font-base * 3.31578947;
      }
   }
   & > [data-panel=active] {
      background: white;
      visibility: visible;
      left: 0;
      display: block;
      z-index: 1000;
      width: 100%;
   }
}

.accordion {
   @include margin-top(1.728);
   position: relative;
   /* Tabs */
   & > [data-tab] {
      background: $light-grey;
      color: $dark-grey;
      font: {
         family: $font-family-body !important;
         size: em(19.2);
         weight: bold !important;
      }
      list-style: none;
      text-align: left;
      @include padding-top();
      @include padding-bottom();
      @include padding-left(2);
      @include margin-bottom($global-margin / 2);
      &:active {
         outline: none;
      }
      &:hover,
      &:focus {
         cursor: pointer;
      }
   }
   & > [data-tab=active] {
      font: {
         family: $font-family-body !important;
      }
      background: $oil;
      color: $silver;
   }


   /* Panels */
   & > [data-panel] {
      @include padding(0);
      max-height: 0;
      visibility: hidden;
//      -moz-transition: cubic-bezier(0, 0.48, 0.58, 1) 0.035s max-height;
//      -o-transition: cubic-bezier(0, 0.48, 0.58, 1) 0.035s max-height;
//      -webkit-transition: cubic-bezier(0, 0.48, 0.58, 1) 0.035s max-height;
//      transition: cubic-bezier(0, 0.48, 0.58, 1) 0.035s max-height;
      & > p {
         @include margin(0);
      }
   }
   & > [data-panel=active] {
      @include padding();
      background: white;
      visibility: visible;
      left: 0;
      max-height: 2000px;
      z-index: 1000;
      width: 100%;
      -moz-transition: linear 3s max-height;
      -o-transition: linear 3s max-height;
      -webkit-transition: linear 3s max-height;
      transition: linear 3s max-height;
   }
}

/* Control :focus appearance of tabs/accordions */
/* Left seperate so it's easy to find */

.tabs:focus,
.accordion:focus {
   outline: none;
}
.tabs:focus > [data-tab="active"],
.accordions:focus > [data-tab="active"] {
   outline: -webkit-focus-ring-color auto 5px !important;
   outline: -moz-focus-ring-color auto 5px !important;
   outline: -ms-focus-ring-color auto 5px !important;
   outline: -o-focus-ring-color auto 5px !important;
}