/*! Test NOVA Framework
* 
* Authored by James Murphy
* 
* My first attempt at Sass and my first attempt at a Framework
* 
*/


// Clear Fix
// - - - - - - - - - - - - - - - - - - - -
@mixin clearfix() {
   & {
      *zoom: 1;
   }
   &:before,
   &:after {
      content: "";
      display: table;
   }
   &:after {
      clear: both;
   }
}

// Calculate em from px
// - - - - - - - - - - - - - - - - - - - -
@function em($pixel, $context: $font-base) {
   @if (unitless($pixel)) {
      $pixel: $pixel * 1px;
   }
   
   @if (unitless($context)) {
      $context: $context * 1px;
   }
   
   @return $pixel / $context * 1em;
}

// Calculate rem from px
// - - - - - - - - - - - - - - - - - - - -
@function rem($pixel, $context: $font-base) {
   @if (unitless($pixel)) {
      $pixel: $pixel * 1px;
   }

   @if (unitless($context)) {
      $context: $context * 1px;
   }

   @return $pixel / $context * 1rem;
}

// Padding
// - - - - - - - - - - - - - - - - - - - -
@mixin padding($padding: $global-padding){
   @if (unitless($padding)) {
      // prevent confusion with unitless pixel values
      @if $padding <= 100 {
         padding: $padding + $preferred-unit;
      }
      @else {
         padding: em($padding);
      }
      
   }
   @else {
      padding: $padding;
   }
}

// Margin
// - - - - - - - - - - - - - - - - - - - -
@mixin margin($margin: $global-margin){
   @if (unitless($margin)) {
      // prevent confusion with unitless pixel values
      @if $margin <=100 {
         margin: $margin + $preferred-unit;
      }
      @else {
         margin: em($margin);
      }
   }
   @else {
      margin: $margin;
   }
}

// Transitions
// - - - - - - - - - - - - - - - - - - - -
@mixin transition() {}