/*! Test NOVA Framework
* 
* Authored by James Murphy
* 
* Breakpoints
* 
* Still over my head. My original attempts are still here commented out. I will return to compare logic and solutions at a later time.
* 
* Solution taken from Foundation for Sites 6
* 
* */

// My attempt. Worked in conjunction with "_grid.scss" except it output a media query for each class. Ugh
// - - - - - - - - - - - - - - - - - - - -

$medium-name:							medium						!default;
$large-name:							large						!default;
$xlarge-name:							x-large						!default;
$xxlarge-name:                          xx-large                    !default;

$breakpoints (
   medium,
   large,
   xlarge,
   xxlarge
);

$medium-breakpoint:					    768 						!default;
$large-breakpoint:					    1100 						!default;
$xlarge:								1400 						!default;
$xxlarge:                               1600                        !default;

$screen:								"only screen" 			    !default;


@mixin breakpoint($width: null) {

	@if $width == null {
       @media #{$string} {
			@content
				}
	}

	@else {
       @media #{$string}  and (max-width: $width + px) {
			@content
				}
	}
}