<div class="row" id="footer">
   <div class="small-12 medium-8 columns">
      
      <ul class="footer-links">
         <li><a href="#">Link 1</a></li>
         <li><a href="#">Link 2</a></li>
         <li><a href="#">Link 3</a></li>
         <li><a href="#">Link 4</a></li>
         <li><a href="#">Link 5</a></li>
         <li><a href="#">Link 6</a></li>
      </ul>
   </div>
   <div class="small-8 small-centered medium-4 columns">
      <div class="social">
         <span class="social-icon">
            <a href="#" aria-label="Visit us on ***">
               <img src="./img/social-circles/yellow/facebook.svg" alt="facebook">
            </a>
         </span>
         <span class="social-icon">
            <a href="#" aria-label="Visit us on ***">
               <img src="./img/social-circles/yellow/twitter.svg" alt="twitter">
            </a>
         </span>
         <span class="social-icon">
            <a href="#" aria-label="Visit us on ***">
               <img src="./img/social-circles/yellow/linkedin.svg" alt="linkedin">
            </a>
         </span>
         <span class="social-icon">
            <a href="#" aria-label="Visit us on ***">
               <img src="./img/social-circles/yellow/pintrest.svg" alt="pintrest">
            </a>
         </span>
      </div>
   </div>
</div>
   
<div class="row">
   <div class="colophon">
      <span>&copy; Copyright 2015 Northern Virginia Community College</span>
      <span> | Vendor Name Here | Additional Information Here</span>
   </div>
</div>