<div class="show-nav">
   <div class="row">
      <div class="small-12 columns">
         <button id="showNav" class="hollow">Show Menu</button>
      </div>
   </div>
</div>
<div class="row">
   <ul id="main-nav">
      <li class="top-level"><a href="#" tabindex="1">Link 1</a></li>
      <li class="top-level" data-nav><a href="#" tabindex="1">Link 2</a>
         <ul class="dropdown">
            <li><a class="sub_link" href="#" tabindex="1">Link 2a</a></li>
            <li><a class="sub_link" href="#" tabindex="1">Link 2b longer</a></li>
            <li><a class="sub_link" href="#" tabindex="1">Link 2c longest text</a></li>
         </ul>
      </li>
      <li class="top-level" data-nav><a href="#" tabindex="1">Link 3</a>
         <ul class="dropdown">
            <li><a class="sub_link" href="#" tabindex="1">Link 3a</a></li>
            <li><a class="sub_link" href="#" tabindex="1">Link 3b longer</a></li>
            <li><a class="sub_link" href="#" tabindex="1">Link 3c longest text</a></li>
         </ul>
      </li>
      <li class="top-level"><a href="#" tabindex="1">Link 4</a></li>
   </ul>
</div>