<div id="show-nav">
   <div class="row">
      <div class="small-12 columns">
         <button class="icon-menu" id="showNav"><br /><span>Show</span></button>
      </div>
   </div>
</div>

   <ul data-nav>
      <li class="top-level"><a href="#" tabindex="1">Link 1</a></li>
      <li class="top-level" data-dropdown><a href="#" tabindex="1">Link 2</a>
         <ul class="dropdown">
            <li><a class="sub_link" href="#" tabindex="1">Link 2a</a></li>
            <li><a class="sub_link" href="#" tabindex="1">Link 2b longer</a></li>
            <li><a class="sub_link" href="#" tabindex="1">Link 2c longest text</a></li>
         </ul>
      </li>
      <li class="top-level" data-dropdown><a href="#" tabindex="1">Link 3</a>
         <ul class="dropdown">
            <li><a class="sub_link" href="#" tabindex="1">Link 3a</a></li>
            <li><a class="sub_link" href="#" tabindex="1">Link 3b longer</a></li>
            <li><a class="sub_link" href="#" tabindex="1">Link 3c longest text</a></li>
         </ul>
      </li>
      <li class="top-level"><a href="#" tabindex="1">Link 4</a></li>
   </ul>
